# كلمة سر المدير
ADMIN_PASSWORD=sadekAdmin123#

# مفتاح جلسات التشفير (غيّره لمفتاح عشوائي خاص بك)
SESSION_SECRET=356c1a608344dc442a8f2f6b24e579f673c67e73347d4b3f955e379689194d81

# بيئة التشغيل (development / production)
NODE_ENV=development

# منفذ الخادم (اختياري - القيمة الافتراضية: 3001)
PORT=3001
